body {
  background: #f9f8fe;
}
a {
  color: #a2125f;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin-top: 0;
  text-align: center;
}
.Dictionary-logo {
  width: 250px !important;
  transform: scale(2) translateX(20px);
  transform-origin: center center;
  display: block;
  margin: 30px auto -40px;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
