.Dictionary {
  text-align: center;
  padding: 0 20px;
}
.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.Dictionary section,
.Meaning,
.Result-wrapper {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0 0 0 / 10%);
  margin: 20px auto;
  max-width: 600px;
}

.Dictionary form {
  width: 100%;
}
.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  cursor: text;
  box-sizing: border-box;
  outline: none;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
